<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stress Level Detection</title>

    <style>

        body {
            background-color: pink;
        }

    </style>

</head>
<body>
    <h1>Stress Level Prediction Application</h1>
    <hr>
    {% if result %}
        <h1>{{result}}</h1>
    {% endif %}

    <form action="" method="POST">
        {% csrf_token %}
        Humidity  <input type="number" step="any" name="humidity" required style="margin-left: 83px;"><br><br>
        Temperature  <input type="number" step="any" name="temperature" required style="margin-left: 83px;"><br><br>
        Step Count  <input type="number" step="any" name="stepcount" required style="margin-left: 83px;"><br><br>
        <input type="submit" style="background-color: pink; padding: 20px; border-radius: 10px;"><br>
    </form>
</body>
</html>